.review-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;


}
.user-row{
    
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
background-color: #d3d0c2;    
    
}
.name{
    background-color: #d3d0c2;    
 
}

.test{
    padding: 30px


}

