*{
    background-color:#e2dfd5;
    
}
.connitner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
    width:90%;
  
}
.card{

margin-bottom:150px;
margin-left: 20px;

width:300px;
 height: 350px;
  
border: 1px solid rgb(82, 79, 79);

}

.card:hover{
    box-shadow: 5px 5px 20px #b8957b;
}
.body-card{
    color:#1e212d;
     width: 300px;
      height: 500px;
      padding: auto;
      border: 1px solid rgb(82, 79, 79);
      font-size:50px;
      padding:20px;
     text-align: center;
     margin-bottom: .1rem;
   
}