.header-image {
    width: 100%;
    height: 30vh;
}

.app-container {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.landing {
    text-align: center;
    width: 90vw;
    height: 900px;
    margin: auto;
    display: block;
}

.footer {
    /* border: 1px solid gray; */
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 5vh;
    margin-bottom: 3px;
    background-color: #dad6ca;
    border-radius: 25px;
}


.inline {
    display: inline;
}

.icon {
    width: 1vw;
    height: 2vh
}

.fancy {
    line-height: 3px;
    text-align: center;
}

.fancy span {
    display: inline-block;
    position: relative;
    font-family: 'Dancing Script';
    font-size: 3vw;
}

.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 7px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    top: 0;
    width: 30vw;
}

.fancy span:before {
    right: 100%;
    margin-right: 15px;
}

.fancy span:after {
    left: 100%;
    margin-left: 15px;
}

.footer-linkes {
    text-decoration: none;
    color: black;
}

.footer-linkes:hover {
    text-decoration: none;
    color: black;
    text-shadow: 0 0 10px gray;
}

.footer-text {
    padding-left: 10vw;
}

/* Style of profile */
.background-profile {
    width: 100%;
    height: 100vh;
}

.user-info-container {
    margin: 10px;
    position: absolute;
    left: 10vw;
    top: 60vh;
    /* z-index: 1; */
}

.profile-picture {
    border-radius: 50%;
    width: 30vh;
    height: 15vw;
    box-shadow: 0 0 20px gray;
}

.user-info {
    position: absolute;
    left: 27vw;
    top: 3vh;
    width: 50vw
}

#button {
    margin: 15% 15%;

}

#button>button {
    margin: 5%;
}

.review-container {
    width: 40vw;
    height: auto;
    margin: 3%;
    border-radius: 25px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.156);
}

.review-book {
    background-color: #ffffff64;
    border-radius: 10px;
}

.review-content {
    word-wrap: break-word;

}

.review-book,
.review-content {
    padding: 2%;
    padding-left: 5%;
    margin: 3%;
}

.overflow {
    width: 50vw;
    height: 60vh;
    overflow-y: scroll;
    border: 1px solid black;
    border-radius: 2px;
}