.nav-bar {
    width: 100%;
    background-color: #f0f0f0 ;
    border: 2px solid #b68973;

    overflow: auto;
  }
  
  .link {
    float: left;
    width: 20%;
    text-align: center;
    padding: 5px 0;
    transition: all 0.3s ease;
    color: #8f8772;
    font-weight: 700;
    font-size: 25px;
  }
  
  .link:hover{
   text-shadow:0 0 10px gray;
    text-decoration: none;
    color: #8f8772;
  }
  