.nav-bar {
    width: 100%;
    background-color: #978e75;
    overflow: auto;
  }
  
  .link {
    float: left;
    width: 20%;
    text-align: center;
    padding: 5px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .Link:hover{
    background-color: #746d5a;
  }
  